*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#000000bf, #000000bf), url(image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 25px;
    color: #ff7f50;
}
.content span{
    color: #009688;
    font-weight: bold;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #ff7f50;
    background: transparent;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
button span{
    background: #ff7f50;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
    font-size: 19px;
    color: #000;
}


